#face{
	margin-bottom:5px;
	color:#099;
}
#like{
	width:305px;
	height:30px;
	padding:15px 0px;
}
#noticias{
	display:inline-block;
	float:left;
	width:304px;
	height:480px;
	padding:5px 5px;
	text-align: center;
	color:#333;
	font-size: 13px;
	font-family: Lato,sans-serif;
}