.main{
	display: inline-block;
	float: left;
}
#contenido{
	width: 1260px;
	height: 500px;
	margin: 0 auto;
}
#citas{
	display: inline-block;
	float: left;
	margin: 10px 0px;
	width: 650px;
	height: 470px;
	background: #f6f6f6;
}
#linea{
	width: 100%;
	height: 5px;
	background: #099;
}
#cabeceraCitas{
	height: 65px;
	width: 100%;
	text-align: center;
	padding:15px 0px; 
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.cit{
	text-align: center;
	width: 100%;
	height: 50px;
	background:#fff ;
	border-bottom: 1px solid #ddd;
	margin: 2px;
}