.ti{
	font-family: Cambria,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	color: #099;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #099;
	margin-bottom: 5px;
}
.pa{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 13px;
	color:#333;
	text-align: left;
}